{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Porfolio | Contact{% endblock title %}

{% block contact_link %}
    <li class="active"><a href="/portfolio-contact">Contact</a></li>{% endblock contact_link %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span6">
                <form>
                    <div class="controls controls-row">
                        <input id="name" name="name" type="text" class="span3" placeholder="Name">
                        <input id="email" name="email" type="email" class="span3" placeholder="Email address">
                    </div>
                    <div class="controls">
                        <textarea id="message" name="message" class="span6" placeholder="Your Message"
                                  rows="5"></textarea>
                    </div>

                    <div class="controls">
                        <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-left">Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr>
{% endblock content %}